*{
    margin:0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: auto;
    background-color: darkblue;
    
}

.navbar {
    color: white;
    
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    text-align: center;
    flex-direction: colu;
    display: inline;
}

ul li{
display: inline;
}
