*{
    margin:0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: auto;
    background-color: darkblue;
    
}

.navbar {
    color: white;
    
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    display: inline;
    margin: 10px;
}

ul li{
display: inline;
}

.logo {
    font-size: 50px;
    margin: 10px;
    padding-right: 100px;
    
}
.items{
 padding: 5px;
 font-size: 20px;
 font-family: arial;

}
.navbar a:hover{
    background-color: darkgrey;
}